body{
  background: linear-gradient(-45deg, #00ffff, #99ffcc, #ffff99, #ff3399);
    background-size: 4000% 4000%;
    animation: gradient 15s ease infinite;




}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header-box{
  width: 80%;
  height:20%;
  background: white

}
.container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  align-items: stretch;
  flex-wrap: wrap;
  height: 900px;
justify-content: flex-start;}

.li{
  color:white;
}


.heading-font{
  color: white;
  font-family: "Press Start 2P";
  font-size: 110px;
  line-height: .99;
  margin-left: 900px;
  bottom: 10px;
  position: absolute;
  font-stretch: ultra-condensed;
  letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;}


  @keyframes textflicker {
    from {
      text-shadow: 1px 0 6px #ea36af, -2px 0 -3px #75fa69;
    }
    to {
      text-shadow: 3px 1.5px 3px #ea36af, -1px -0.5px 5px #75fa69;
    }
  }
