body{
  background: black;
}
img{
  border-radius: 50%;
  z-index: 1;


}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 12%;
  padding-left: 30%; */
  height:100vh;

}
.box-wrap {
  position: fixed;
  width:100vw;
  height:100vh;
  /* background:red; */
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center
}
.box2{
  border-style: solid;
  border-width: 10px;
  border-color: white;
  width:30vw;
  height: 30vw;
  transform: translate(-600px,0);
  animation: skew 7s linear infinite;
}
.box{

  border-style: solid;
  border-width: 10px;
  border-color: white;
  width:30vw;
  height: 30vw;
  transform: translate(-600px,0);
  animation: skew 5s linear infinite;
}
.flip{
  animation: flip 2s infinite linear;
  animation-delay: 0s;
  z-index: 1;
}
@keyframes flip {
  0% {transform: rotateY(0); filter: hue-rotate(0) saturate(0);;}
  50% {transform: rotateY(360deg); filter: hue-rotate(180deg) saturate(8);;}
  0% {transform: rotateY(0); filter: hue-rotate(0) saturate(0);;}
}
@keyframes skew {
  0% {transform: skewX(0)skewY(0);;}
  100% {transform: skewX(180deg)skewY(180deg);;}
  0% {transform: skewX(0)skewY(0);;}
}
