body{
  background: linear-gradient(-45deg, #00ffff, #99ffcc, #ffff99, #ff3399);
    background-size: 4000% 4000%;
    animation: gradient 15s ease infinite;



}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
&:hover{
     z-index:5;}

.container-right{
  background-color: #5E5F5D;
  opacity: .6;
  width:49%;
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 margin-top: 20%;
 margin-bottom: 35px;
 margin-left: 700px;
 padding-left: 10px;
 padding-right: 10px;
 transform:rotate(0) scale(1.2);
       animation:shake .4s 1;
       animation-delay:.4s;
       transition:all .3s cubic-bezier(.28,.05,.65,.97);}

        &:after{
          width:0;
          transition:all .3s cubic-bezier(.28,.05,.65,.97);}

          @keyframes shake{
      0%{ transform:rotate(3deg) scale(1.2) }
      20%{ transform:rotate(-3deg) scale(1.2) }
      40%{ transform:rotate(3deg) scale(1.2) }
      60%{ transform:rotate(-3deg) scale(1.2) }
      80%{ transform:rotate(3deg) scale(1.2) }
      100%{ transform:rotate(0) scale(1.2) }
    }



.heading-font{
  color: white;
  font-family: "Press Start 2P";
  font-size: 110px;
  line-height: .99;
  margin-left: 0px;
  top: 10px;
  position: absolute;
  font-stretch: ultra-condensed;
  letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;}


  @keyframes textflicker {
    from {
      text-shadow: 1px 0 6px #ea36af, -2px 0 -3px #75fa69;
    }
    to {
      text-shadow: 3px 1.5px 3px #ea36af, -1px -0.5px 5px #75fa69;
    }
  }
p{
  color:white;
  font-family: "Playfair Display";


}
h2{
  color:white;
  font-family: "Playfair Display"
}
